/* resets the default styles applied by different browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box; 
}

.container {
    padding: 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: #FFF;
    text-align: center;
}

img {
    width: 149.813px;
    height: 164.719px;
    margin-bottom: 16px;
    margin-top: 16px;
}

h1 {
    color: black; 
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 16px auto;
    max-width: 414px; 
}

p {
    color: #5C5D6D;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-width: 414px;
    margin: 16px auto; 
    margin-bottom: 40px;
}

button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    border-radius: 25px;
    background-color: #0466C8;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin-bottom: 24px;
    max-width: 366px;
    width: 100%; /* Ensures buttons take up full container width but do not exceed 366px */
}

button:hover {
    background-color: #005BBD; 
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0px 40px;
    }

    img {
        width: 100px; /* Reduce logo size on smaller screens */
        height: auto;
    }

    h1, p, button {
        max-width: 100%; /* Ensures content scales within the container */
        width: 100%;
    }
}









