/* resets the default styles applied by different browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F3F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    width: 100vw;
    background-color:#F3F5F9;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 636px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.top-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
}

.middle-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-label {
    font-size: 14px;
    color: #5C5D6D;
}

.status-label.active {
    font-weight: bold;
    color: #333;
}

.progress-bar {
    width: 100%;
    height: 6px;
    background-color: #E5E5E5;
    border-radius: 3px;
    margin-top: 8px;
    position: relative;
}

.progress-bar .progress {
    width: 50%; /* Adjust this width to match the current progress */
    height: 100%;
    background-color: #0466C8;
    border-radius: 3px;
}

.bottom-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
}

.bottom-section h3 {
    margin-bottom: 12px;
}

.bottom-section p {
    margin-bottom: 8px;
    color: #333333;
    font-size: 14px;
}

.blue-section {
    width: 598px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #0466C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-section img {
    width: 149.813px;
    height: 164.719px;
}

.branding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 280.72px;
    gap: 40px;
}

.blue-section h3 {
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-section, .blue-section {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .blue-section {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    .status-label,
    .bottom-section p {
        font-size: 14px;
    }

    .submit-btn,
    .cancel-btn {
        font-size: 18px;
    }
}