/* resets the default styles applied by different browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F3F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    width: 100vw;
    background-color:#F3F5F9;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    width: 636px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    justify-content: center;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.back-arrow, .close-button {
    font-size: 48px;
    color: #0466C8;
    text-decoration: none;
}

.back-arrow svg {
    font-size: 48px;
    cursor: pointer;
}

.close-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.top-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    font-size: 20px;
    font-family: "Open Sans";
    color:#333333;
}

.top-section h3 {
    margin-bottom: 16px;
    font-weight: 600px;
    font-family: "Work Sans";
    font-size: 24px;
}

.middle-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar-1 {
    width: 100%; 
    height: 20px; 
    background-color:  #0466C8 !important;
    position: relative;
    border-top-left-radius: 15px; /* Round top left corner */
    border-bottom-left-radius: 15px; /* Round bottom left corner */
}

.progress-bar-2 {
    width: 100%; 
    height: 20px; 
    background-color:  #0466C8;
    position: relative;
}

.progress-bar-3 {
    width: 100%; 
    height: 20px; 
    background-color:  #0466C8;
    position: relative;
}

.progress-bar-4 {
    width: 100%; 
    height: 20px; 
    background-color: #CCCCCC;
    position: relative;
}

.progress-bar-5 {
    width: 100%; 
    height: 20px; 
    background-color: #CCCCCC;
    position: relative;
    border-top-right-radius: 15px; /* Round top right corner */
    border-bottom-right-radius: 15px; /* Round bottom right corner */
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100px;
}

.status-label {
    font-size: 16px;
    color:#333333;
    text-align: center;
    display: inline-block;
    font-weight: 400;
    font-family: "Open Sans";
}

.status-label.active {
    font-weight: 700 !important;
    color: #333333;
}

.bottom-section {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    padding: 16px;
}

.bottom-section h3 {
    margin-bottom: 12px;
    color: #333333;
    font-family: "Work Sans";
    font-weight: 600px;
    font-size: 24px;
}

.bottom-section p {
    margin-bottom: 8px;
    color: #333333;
    font-size: 20px !important;
    font-weight: 400px;
    font-family: "Open Sans";
}

.blue-section {
    width: 598px;
    height: 100vh;
    flex-shrink: 0;
    background-color: #0466C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-section img {
    width: 149.813px;
    height: 164.719px;
}

.branding-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 280.72px;
    gap: 40px;
}

.blue-section h3 {
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .left-section, .blue-section {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }

    .blue-section {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    .status-label,
    .bottom-section p {
        font-size: 14px;
    }

    .submit-btn,
    .cancel-btn {
        font-size: 18px;
    }
}