/* resets the default styles applied by different browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F3F5F9;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    width: 100vw;
    background-color:#F3F5F9;
    overflow: hidden;
    justify-content: space-between;
}

.form-section {
    width: 636px;
    height: 912px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    margin-left: auto;
}

.blue-section {
    width: 598px;
    height: 100vh;
    -webkit-flex-shrink: 0; /* Safari */
    flex-shrink: 0;
    background-color: #0466C8;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
}

.blue-section img {
    width: 149.813px;
    height: 164.719px;
}

.branding-container {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    align-items: center;
    width: 242px;
    height: 280.72px;
    gap: 40px;
}

.blue-section h3 {
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-top: 16px;
    text-align: center;
}

h1 {
    color: #333333;
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
}

.form-group label {
    color: #5C5D6D;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: block;
}

textarea.form-control,
input[type="text"],
input[type="email"] {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FFF;
    box-sizing: border-box;
}

textarea.form-control {
    min-height: 60px; 
    resize: vertical; 
}

input[type="file"] {
    display: none;
}

#message-box textarea{
    min-height: 30px; 
    max-height: 120px; 
    resize: none; 
    overflow-y: hidden; 
    height: auto;
}

.file-upload-container {
    position: relative;
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #F3F5F9;
}

.file-upload-label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #5C5D6D;
    width: calc(100% - 40px);
    text-align: left;
    margin: 0;
    padding-left: 10px;
}

.file-upload-icon {
    position: absolute;
    font-size: 24px;
    color: black;
    right: 10px;
    cursor: pointer;
    display: inline-block;
    transform: rotate(-90deg);
}

.submit-btn,
.cancel-btn {
    border-radius: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.submit-btn {
    background-color: #0466C8;
    color: white;
}

.cancel-btn {
    background-color: white;
    color: #0466C8;
    border: 2px solid #0466C8;
}

.form-buttons {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

.maintenance-form {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-container {
        -webkit-flex-direction: column; /* Safari */
        flex-direction: column;
    }

    .form-section {
        width: 100%;
        padding: 20px;
        max-height: none;
        margin: 0 auto;
    }

    .blue-section {
        display: none;
    }

    h1 {
        font-size: 22px;
    }

    textarea.form-control,
    input[type="text"],
    input[type="email"] {
        font-size: 18px;
    }

    .submit-btn,
    .cancel-btn {
        font-size: 18px;
    }
}

