
body {
    background-color: white; 
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    color: black; 
    font-family: "Work Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

p {
    color: #5C5D6D; 
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img {
    max-width: 200px;
    margin-bottom: 20px;
}

button {
    font-family: "Open Sans", sans-serif;
    background-color: #0466C8; 
    color: white;              
    border: none;              
    padding: 15px 32px;        
    text-align: center;        
    text-decoration: none;     
    display: inline-block;     
    font-size: 16px;           
    margin: 4px 2px;           
    cursor: pointer;           
    border-radius: 25px; 
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 366px; 
    margin: 4px auto;      
}

button:hover {
    background-color: #005BBD; 
}

/* Media query for devices with a width of 430px or less */
@media (max-width: 430px) {
    button {
        width: 100%; /* Make the button width responsive on smaller screens */
    }
    body {
        margin: 0 32px; /* Set mobile margins */
    }
}

/* Media query for devices with a width greater than 430px */
@media (min-width: 431px) {
    button {
        width: 366px; /* Maintain the fixed width on larger screens */
    }
    body {
        margin: 0 72px; /* Set desktop margins */
    }
}