{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Maintenance Request</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS for submit maintenance request page-->
    <link href="{% static 'css/submit_request.css' %}" rel="stylesheet">
    <!-- Custom fonts for website-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <style>
        .file-item{
            display: flex;
            align-items: center;
            width: 100%;
            border: 0.75px solid lightgray;
            border-radius: 8px;
            padding: 8px;
            margin-bottom: 10px
        }
        .file-info{
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .file-name{
            font-size: 14px;
            margin-left: 4.5px;
        }

        .file-close{
            color: #000;
            cursor: pointer;
            font-size: 18px;
        }

        .file-close:hover{
            transform: scale(1.1,1.1);
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="form-section">
            <h1>Please fill out maintenance request</h1>
            <p class="sub-p">All fields are required. Images are optional.</p>
            <form method="post" enctype="multipart/form-data" action="{% url 'submit_request' %}" class="maintenance-form" novalidate>
                {% csrf_token %}
                
                <!-- Full Name Field -->
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
                    {{ form.full_name }}
                    {% if form.full_name.errors %}
                        <div class="error-message">
                            {{ form.full_name.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <!-- Email Field -->
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label> <!-- Custom label rendering without colon -->
                    <p>Please use primary tenant's email as this will make sure your request goes to your property manager.</p>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="error-message">
                            {{ form.email.errors.as_text }}

                        </div>
                    {% endif %}
                </div>

                <!-- Subject Field -->
                <div class="form-group">
                    <label for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label> <!-- Custom label rendering without colon -->
                    {{ form.subject }}
                    {% if form.subject.errors %}
                        <div class="error-message">
                            {{ form.subject.errors.as_text }}
                        </div>
                    {% endif %}
                </div>

                <!-- Message Field -->
                <div class="form-group" id="message-box">
                    <label for="{{ form.tenant_message.id_for_label }}">{{ form.tenant_message.label }}</label> <!-- Custom label rendering without colon -->
                    {{ form.tenant_message }} 
                    <p class="character-limit">500 Characters Max</p> 
                    {% if form.tenant_message.errors %}
                        <div class="error-message">
                            {{ form.tenant_message.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Images Field -->
                <div class="form-group">
                    <div id="fileNames"></div>
                    <div class="file-upload-container">
                        <input type="file" id="images" name="images" multiple accept="image/*">
                        <label for="images" class="file-upload-label">
                            Attach Image
                        </label>
                        <span class="file-upload-icon">📎</span>
                        {% if form.images.errors %}
                        <div class="error-message">
                            {{ form.images.errors.as_text }}
                        </div>
                    {% endif %}
                    </div>
                </div> 

                <!-- Availability Field -->
                <div class="form-group">
                    <label for="{{ form.availability.id_for_label }}">{{ form.availability.label }}</label> <!-- Custom label rendering without colon -->
                    <p>Please let property manager know when you are available for a contractor to come over and do repairs.</p>
                    {{ form.availability }}
                    {% if form.availability.errors %}
                        <div class="error-message">
                            {{ form.availability.errors.as_text }}
                        </div>
                    {% endif %}
                </div>
                
                <!-- Buttons -->
                <div class="form-buttons">
                    <button type="submit" class="btn submit-btn">Submit</button>
                    <button type="button" class="btn cancel-btn" onclick="location.href='{% url 'tenant_home' %}'">Cancel</button>
                </div>
            </form>
        </div>
        <div class="blue-section">
            <div class="branding-container">
                <img src="{% static 'images/transparent_logo.png' %}" alt="FixTrackr Logo">
                <h3> Welcome to Fixtrackr</h3>
            </div>
        </div>
    </div>


    <!-- Include Bootstrap JS and dependencies if needed -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fileInput = document.getElementById('images')
            const fileNamesDiv = document.getElementById('fileNames')
            let uploadedFiles = []

            const removeFile = (index) => {
                uploadedFiles.splice(index, 1);
                displayFileList();
            }

            const displayFileList = () => {
                fileNamesDiv.innerHTML = ''; 
                uploadedFiles.forEach((file,index) => {
                    const fileItem = document.createElement('div');
                    fileItem.classList.add('file-item')
                    const fileName = document.createElement('div')
                    fileName.innerHTML = file.name
                    fileName.classList.add('file-name')
                    const fileClose = document.createElement('div')
                    fileClose.innerHTML = '&times;'
                    fileClose.classList.add('file-close')
                    fileClose.onclick = () => removeFile(index);
                    fileItem.appendChild(fileName)
                    fileItem.appendChild(fileClose)
                    fileNamesDiv.appendChild(fileItem);
                });
            }
    
            fileInput.addEventListener('change', function() {
                console.log("onchanging...")
                const files = Array.from(this.files);
                uploadedFiles = [...uploadedFiles, ...files];  
                displayFileList();
            });

    
            // fileIcons.forEach((icon, index) => {
            //     icon.addEventListener('click', function() {
            //         fileInputs[index].click();
            //     });
            // });
    
            // fileLabels.forEach((label, index) => {
            //     label.addEventListener('click', function() {
            //         fileInputs[index].click();
            //     });
            // });
    
            // fileInputs.forEach((input, index) => {
            //     input.addEventListener('change', function() {
            //         if (this.files.length > 0) {
            //             let fileList = [];
            //             for (let i = 0; i < this.files.length; i++) {
            //                 fileList.push(this.files[i].name);
            //             }
            //             fileLabels[index].textContent = fileList.join(', ');
            //             alert("Files attached: " + fileList.join(', '));
            //         } else {
            //             fileLabels[index].textContent = 'Attach Image';
            //         }
            //     });
            // });

            // Handle real-time character count and textarea height adjustment
            const messageTextarea = document.querySelector('#message-box textarea');
            const charLimitMessage = document.querySelector(".character-limit");

            if (messageTextarea && charLimitMessage) {
                messageTextarea.addEventListener("input", function() {
                    // Update the remaining characters count
                    const remaining = 500 - messageTextarea.value.length;
                    charLimitMessage.textContent = `${remaining} characters remaining`;

                    // Adjust textarea height based on content
                    this.style.height = 'auto';
                    this.style.height = this.scrollHeight + 'px';
                });

                // Trigger the input event initially to set the character count and adjust height
                messageTextarea.dispatchEvent(new Event('input'));
            }


            const form = document.querySelector('.maintenance-form');

            if (form) {
                form.addEventListener('submit', function(event) {
                });
            }

        });
            
    </script>
</body>
</html>



